* {
  color: rgb(181, 0, 142);  
}

select {
    padding: 5px;
    border-radius: 3px;
    border: 2px solid rgb(244, 168, 227);
    background-color: rgb(244, 168, 227);
    transition: 0.3s; 
}

select:hover {
    background-color: rgb(249, 194, 237);
}

select:active {
    border: 2px solid rgb(244, 168, 227);
}

table {
    margin-top: 5px;
    border-collapse: collapse;
}

table tr td {
    width: 85px;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 2px solid rgb(244, 168, 227); 
}


    